<!DOCTYPE html>
<html>
<head>
<title>Attendance Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>📚 Attendance Management System</h1>

<div class="card">
    <h2>Dashboard</h2>

    <a href="/add_student" class="btn">Add Student</a>

    <a href="/mark_attendance" class="btn">
        Mark Attendance
    </a>

    <a href="/view_attendance" class="btn">
        View Attendance
    </a>
</div>

</div>

</body>
</html>
